# Dev credentials from developer.safaricom.co.ke
TEST_MPESA_CONSUMER_KEY=
TEST_MPESA_CONSUMER_SECRET=
TEST_MPESA_SHORT_CODE_1=
TEST_MPESA_INITIATOR_NAME_SC_1=
TEST_MPESA_SECURITY_CREDENTIAL_SC_1=
TEST_MPESA_SHORT_CODE_2=
TEST_MPESA_MSISDN=
TEST_MPESA_ONLINE_SHORT_CODE=
TEST_MPESA_ONLINE_PASS_KEY=
TEST_MPESA_INITIATOR_SECURITY_CREDENTIAL=
TEST_MPESA_VALIDATION_URL=
TEST_MPESA_CONFIRMATION_URL=
